/* common */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.nav-addr {
  display: flex;
  align-items: center;
}

.nav-header {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.addr {
  margin-left: auto;
}

.addr-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.nav-link {
  font-weight: 500;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}

.addr-link {
  font-style: normal; /* наклонний шрифт за замовчуванням */
  color: #434455;
  padding: 24px 0;
  display: block;
}

.nav-link:hover,
.nav-link:focus,
.addr-link:hover,
.addr-link:focus {
  color: #404bbf;
}

/* main */

.main-section {
  background-color: #2e2f42;
  padding: 188px 0;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.071;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  display: block;
  width: 496px;
  margin: 0 auto;
}

.main-button {
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #ffffff;
  background-color: #4d5ae5;
  display: block;
  padding: 16px 32px;
  margin: 48px auto 0;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

/* features */

.features-section {
  padding: 120px 0;
}

.features-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.features-item {
  width: calc((100% - 3 * 24px) / 4);
  max-width: 264px;
}

.features-text {
  margin-top: 8px;
}

/* team */

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  display: flex;
  align-items: center;
  margin-top: 72px;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 3 * 24px) / 4);
  max-width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-text-block {
  padding: 32px 16px;
}

.team-title,
.team-text {
  text-align: center;
}

.team-text {
  margin-top: 8px;
}

/* portfolio */

.portfolio-section {
  padding: 120px 0;
}

.portfolio-list {
  display: flex;
  align-items: center;
  margin: 72px auto 0;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  width: calc((100% - 2 * 24px) / 3);
  max-width: 360px;
}

.portfolio-text-block {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-text {
  margin-top: 8px;
}
/* footer */

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-section {
  padding: 100px 0;
}

.footer-text {
  color: #f4f4fd;
  width: 264px;
  display: block;
  margin-top: 16px;
}
